name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - run: rustup component add clippy
      - run: cargo check
      - run: cargo fmt --check
      - run: cargo test
      - run: cargo clippy
      - run: cargo build --release
